<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="theme-color" content="#3fa3eb">
    <meta property="og:url" content="<%= config.domain %>">
    <meta property="og:title" content="EJS-WebTemplate">
    <meta property="og:description" content="A simple ExpressJS Web Template designed to be used for practically any project.">
    <meta property="og:image" content="https://hyperz.dev/images/logo.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic">
    <link rel="shortcut icon" href="https://hyperz.dev/images/logo.png">
    <link rel="stylesheet" href="css/main.css">
    <title>404 - Page Not Found</title>
    <style>
        body {
            background-color: #1c1c1c;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0;
            height: 100%;
            font-family: 'Exo', sans-serif;
            position: relative;
            overflow-x: hidden;
        }
        .item1 {
            padding-top: 75px;
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            display: block;
            position: relative;
            margin: 0;
        }
        .item2 {
            padding-top: 10px;
            color: white;
            text-align: center;
            font-size: 40px;
            display: block;
            position: relative;
            margin: 0;
        }
    </style>

</head>
<body>

<p class="item1" align=center>404</p>
<p class="item2" align=center>Page Not Found</p>

</body>
</html>