<html>
    <head>
        <link rel="stylesheet" href="assets/main.css">
    </head>
    <body>
        <h1><%= user.username + '#' + user.discriminator %></h1>
        <h3><%= user.email %></h3>
        <h3><%= user.id %></h3>
    </body>
</html>