<html>
    <head>
        <link rel="stylesheet" href="assets/main.css">
    </head>
    <body>
        <% if(loggedIn) { %>
            <a href="/account">Account</a>
        <% } else { %>
            <a href="/auth/discord">Login</a>
        <% } %>
        <script>
            console.log('Created by Hyperz#0001');
        </script>
    </body>
</html>