<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="theme-color" content="#3fa3eb">
    <meta property="og:url" content="<%= config.domain %>">
    <meta property="og:title" content="EJS-WebTemplate">
    <meta property="og:description" content="A simple ExpressJS Web Template designed to be used for practically any project.">
    <meta property="og:image" content="https://hyperz.dev/images/logo.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic">
    <link rel="shortcut icon" href="https://hyperz.dev/images/logo.png">
    <link rel="stylesheet" href="css/main.css">
    <title>MAIN INDEX PAGE</title>
</head>
<body>
    <p>Welcome to the Template!</p>
    <p><%= config.ogAuthor %></p>
    <p>Every time you reload this page, the background color may change!</p>
    <%- backend.changeColor() %>
</body>
</html>