body {
    background-color: #1c1c1c;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    font-family: Montserrat, sans-serif;
    position: relative;
    overflow-x: hidden;
}

p {
    color: white;
}