html, body {
    overflow-x: hidden !important;
}

body {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-color: #1a1a1a;
    width: 100%;
    height:100%;
    margin: auto;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 1em;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: color 1s
}

a:hover {
    color: rgb(0, 162, 255);
}

.exo {
    font-family: 'Exo', sans-serif !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.sourcecodepro {
    font-family: 'Source Code Pro', monospace !important;
}

.worksans {
    font-family: 'Work Sans', sans-serif !important;
}
